<!DOCTYPE html>
<html>
<head>
	<title>Twitter with Python</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
</head>

<body>
	
	<div class="container-fluid">
		<div class="row cont">
			<div class="cont-txt">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<h1>Customer Segmentaion</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="t-txt-box">
				<div class="col-md-4">
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="t-txt">
					<h1>Welcome!!!</h1>
						<a class="btn btn-primary" href="/get_val">See segmentation</a>				
					</div>
				</div>
				<div>
				</div>
			</div>
		</div>
	</div>
		
</body>
</html>